.navigation-main
  margin-left 5rem
  &__list
    display flex
    margin-x -(basePadding)
    justify-content space-between
  &__list-item
    position relative
    margin-x basePadding
    padding-y(basePadding/3*4)
    text-align center

    a
      font-size font-l
      line-height line-m
      text-decoration none
      color #444447
      &:hover
      &:focus
        color #b0986e
      &:active
        color #828282
    &:hover
      .navigation-main__sublist-item
        height 3.25rem
        &:first-child::before
          border-bottom-width 10px
            
  &__sublist
    position absolute
    top 3.5rem
    z-index 999
    background-color #dfd3b4
  &__sublist-item
    overflow-y hidden
    height 0
    transition height .2s
    &:first-child::before
      content ''
      position absolute
      top -10px
      left 40px
      border-top 0 solid transparent
      border-right 5px solid transparent
      border-bottom 0 solid #dfd3b4
      border-left 5px solid transparent
    &.active:first-child::before
      border-bottom-color #b0986e
    &:not(.active):first-child:hover::before
      border-bottom-color #cab890
    a
      display inline-block
      width 100%
      padding-x(basePadding*2)
      line-height 3.25rem
      white-space nowrap
      &:hover
      &:focus
      &:active
        color #444447
        background-color #cab890
    &.active > a
      background-color #b0986e
