mixin navigation(nav)
  nav.navigation-main(class= attributes.class)
    ul.navigation-main__list
      each item in nav
        li.navigation-main__list-item
          a(href= item.href) !{item.name}
          if item.sub
            ul.navigation-main__sublist
              each i in item.sub
                li.navigation-main__sublist-item
                  a(href= i.href) !{i.name}
