.palette-module
  display flex
  flex-direction column
  align-items center
  margin-top (basePadding*3)
  &__title
    margin-bottom (basePadding*2)
    font-size font-xxl
    font-weight 700
    text-align center
    text-decoration none
    color #b0986e
  &__palette
    display flex
    align-items center
    justify-content center
    width 15rem
    height 15rem
    font-size font-xxl
    text-decoration none
    background-image url('../images/hair-palette.webp')
    background-size 15rem 15rem
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/hair-palette@2.webp')
    span
      &:nth-of-type(1)
        margin-right .25rem
        font-size (font-m*2)
      &:nth-of-type(2)
        font-size font-xxl
