mixin productPhotos(list)
  .product-photos
    - let i = 1
    each item in list
      if i == 1
        .product-photos__item.product-photos__item--main
          a(href!= item.src data-fancybox='product-photos')
            img(src!= item.src alt!= item.alt).product-photos__image
        - i++
      else
        .product-photos__item
          a(href!= item.src data-fancybox='product-photos')
            img(src!= item.src alt!= item.alt).product-photos__image
          
