.palette
  display flex
  flex-wrap wrap
  margin-x -(basePadding)
  &__item
    max-width calc(100%/3 - 1.5rem)
    margin-x basePadding
    margin-bottom (basePadding*2)
    text-align center

    img
      padding (basePadding/3)
      border 1px solid #b0986e
  &__name
    margin-bottom 0
    font-size font-s
    line-height line-s
