.button
.btn
  -webkit-appearance none // @stylint ignore
  display inline-block
  padding (basePadding/3*2) (basePadding*2)
  font-size font-l
  line-height line-m
  text-align center
  text-decoration none
  color #fff
  background-color #444447
  border none
  border-radius (basePadding/3)
  cursor pointer
  transition background-color .2s
  &:hover
  &:focus
    color #fff
    background-color #b0986e
    transition none
  &:active
    color #fff
    background-color #787777
    transition none
a[href^='#']
  &.button
  &.btn
    text-decoration none

    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration none
