.breadcrumbs
  display flex
  flex-wrap wrap
  align-items center
  padding-y (basePadding*2)
  font-size font-s
  line-height line-s
  &__parent
    padding-right (basePadding/2)

    a
      color color-text
      &:hover
        color color-link-hover
  &__current
    color color-text-secondary
  &__separator
    border .25rem solid transparent
    border-left .25rem solid #cccccc
