.products-list
  &__item
    margin-bottom (basePadding*5)
    &:last-child
      margin-bottom 0
  &__title
    display block
    margin-bottom 1.375rem
    font-size 1.75rem
    font-weight bold
    text-decoration none
    color #000000
  &__description
    @extend p

    font-size font-xl
  &__feature
    margin-bottom basePadding
