.contact-line
  @extend p

  padding-left (basePadding+1.25rem)
  background-repeat no-repeat
  background-position 0 center
  background-size  1.25rem
  &--address
    background-image svgImport('/svg/pin.svg')
  &--mail
    background-image svgImport('/svg/mail.svg')
  &--skype
    background-image svgImport('/svg/skype.svg')
