.product-delivery
  padding (basePadding*2)
  border 1px solid #eee3c7

  p:last-child
    margin-bottom 0
  &__header
    margin-bottom font-s
    font-size font-xl

    a
      font-size font-m
      font-weight normal
  &__list
    display flex
    flex-wrap wrap
    margin-x -(basePadding)
  &__item
    max-width 50%
    padding basePadding

    img
      display block
      padding (basePadding/3)
      border 1px solid #c1c1c1
