.product-delivery
    h2.product-delivery__header Delivery 
      a(href='delivery.html') Learn more
    ul.product-delivery__list
      li.product-delivery__item
        img(src='/images/delivery/ups.png')
      li.product-delivery__item
        img(src='/images/delivery/fedex.png')
      li.product-delivery__item
        img(src='/images/delivery/ems.png')
      li.product-delivery__item
        img(src='/images/delivery/cse.png')
      li.product-delivery__item
        img(src='/images/delivery/dhl.png')
    h2.product-delivery__header Payment 
      a(href='payment.html') Learn more
    p An invoice for payment of the order
