.gallery
  display flex
  flex-wrap wrap
  margin -(basePadding)
  &__item
    padding basePadding

    a
      display block
      transition opacity .4s
      &:hover
        opacity .7
        transition none
    img
      display block
      max-width 100%
      max-height 17rem
