mixin gallery(gallery, settings = {id:''})
  - settings.fancybox = settings.fancybox !== false ? true : settings.fancybox
  .gallery
    each item in gallery
      if settings.fancybox
        .gallery__item
          a(href=`${item.detail}` data-fancybox=`${settings.id}`)
            img(src=`${item.thumb ? item.thumb : item.detail}` alt='')
      else
        .gallery__item
          img(src=`${item.thumb ? item.thumb : item.detail}` alt='')
        
