mixin formInput(item)
  if item.type == 'file'
    - attributes.class = attributes.class == undefined ? 'form-input--file' : ( attributes.class += ' form-input--file' )
  .form-input(class!= attributes.class)
    if item.type != 'file'
      .form-input__header
        label.form-input__label(for!= item.id) !{item.label}
        if item.desc
          .form-input__description !{item.desc}
      if item.type != 'textarea'
        if item.type == undefined
          - item.type = 'text'
        input.form-input__input(id!= item.id name!= item.name type!= item.type)
      else
        textarea.form-input__input(id!= item.id name!= item.name)
    else
      label.form-input__label(for!= item.id).btn !{item.label}
      input.form-input__input.form-input__input--file(id!= item.id name!= item.name type!= item.type)
      .form-input__description !{item.desc}
