.form-input
  display flex
  flex-direction column
  &--file
    flex-direction row
    flex-wrap wrap
    align-items center
    margin -(basePadding)
    & > * // @stylint ignore
      margin (basePadding)
  &__header
    display flex
    margin-x -(basePadding)
    justify-content space-between
  &__label
    align-self flex-start
    margin-x (basePadding)
    margin-bottom (basePadding/2)
    color #0b0b0b
    &.btn
      font-size font-m
      color #ffffff
  &__description
    margin-x (basePadding)
  &__input
    padding (font-m/2)
    border 1px solid #dfd3b4
    border-radius .2rem
    &--file
      position absolute
      overflow hidden
      width 0
      height 0
      opacity 0
    textarea&
      height (line-m*4)
      resize none
