.list-links
  @extend p

  li
    margin-bottom (font-m/4)
    .list-links
      margin-y (font-m/4)
      padding-left (basePadding*4)
  &--horizontal
    display flex
    flex-wrap wrap
    margin-x -(basePadding)

    li
      margin-x basePadding
