.aside-download
  max-width 22rem
  padding (basePadding*2)
  padding-left (basePadding*8)
  background-color #dfd3b4
  background-image svgImport('/svg/doc.svg')
  background-repeat no-repeat
  background-position (basePadding*3) center
  background-size (basePadding*3) auto
  &__title
    @extend p

    margin-bottom 0
    font-weight bold
  &__link
    @extend p

    margin-bottom 0
