import('sprites/*')
import('inlcudes/placeholder')
@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css'

html
  font-family 'Open Sans', sans-serif
  font-size 14px
  color #444447
  &.no-scroll
    overflow hidden
body
  display flex
  flex-direction column
  min-height 100vh
  background-color #fffefd
p
  font-size 1rem
  margin-bottom 1.75rem
  line-height 1.5715rem
h1
  margin-bottom 1.7142rem
  font-size 2.1428rem
  font-weight bold
  color #000000
h2
  font-size 1.7143em
  line-height 2.1rem
  margin-bottom 1.3571rem
  margin-top 1.4rem
  color #000000
  font-weight bold
  &:first-child
    margin-top 0
  & small
    font-size 1rem
  a
    color #000000
    &:hover
    &:focus
      color #998d78
h3
  font-size  1.25rem
  line-height 1.25rem
  margin 1.25rem 0 0.5rem
  color #000000
  font-weight bold
  &:first-child
    margin-top 0
h4
  font-size  1.125rem
  line-height 1.6875rem
  margin  1.6875rem 0 1rem
  color #000000
strong
b
  font-weight bold
mark
  background-color transparent
  color #ffb400
img
  max-width 100%
sub
  font-size font-xs
  vertical-align sub
sup
  font-size font-xs
  vertical-align super
figure
  margin-bottom .5rem
figcaption
  font-size 0.875rem
a
  color #b0986e
  transition color .2s
  text-decoration underline
  &:hover
  &:focus
    color #998d78
    transition none
  &:active
    color #828282
    transition none
  &[href^='#']
    text-decoration none
    border-bottom 1px dotted
    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none
  &[href^='https://metrika.yandex.ru/'] 
    display none
  &.link-facebook
    position relative
    padding-left (1.5rem+(basePadding/3))
    &::before
      content ''
      position absolute
      width 1.5rem
      height 1.5rem
      left 0
      bottom 0
      background-image svgImport('/svg/facebook.svg')
      background-repeat no-repeat
      background-size auto 1.375rem
      background-position center
  &.link-instagram
    position relative
    padding-left (1.5rem+(basePadding/3))
    &::before
      content ''
      position absolute
      width 1.5rem
      height 1.5rem
      left 0
      top 0
      background-image svgImport('/svg/instagram.svg')
      background-repeat no-repeat
      background-size auto 1.5rem
.page
  display flex
  flex-direction column
  min-height 100vh
main
  flex-grow 1
.container
  display flex
  justify-content center
.content
  max-width 68rem  
  width 100%
  padding-x (basePadding)
  &--main
    padding-top (basePadding)
    padding-bottom (basePadding*4)
.hidden-hd
  @media screen and (min-width point-hd)
    display none
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none
.no-break
  white-space nowrap 
  
import('../blocks/**/*')
