.home-catalog
  margin-bottom (basePadding*3)
  &__item
    text-align center
    &:hover
      & ^[-2]__image
        box-shadow 0 0 5px #bdbec0
        transition none
      & ^[-2]__title
        color #998d78
  &__image
    display block
    width 100%
    margin-bottom basePadding
    padding basePadding
    border 1px solid #bdbec0
    transition box-shadow .2s
  &__title
    font-size font-xl
    color #000000
