.footer-main
  padding-y (basePadding*2)
  background-color #f7f7f7
  &__logo
    margin-bottom line-m

    a
      display block
  &__mail
    a
      font-size font-l
      text-decoration none
      color #444447
      &::before
        content ''
        display inline-block
        width 1rem
        height .75rem
        margin-right basePadding
        background-image svgImport('/svg/mail.svg')
        background-repeat no-repeat
        background-position left 
        background-size 1rem 
      &:hover
        color #998d78
  &__menus
    display flex
    margin-x -(basePadding)
    @media screen and (max-width point-m - 1)
      display none
  &__menu
    flex-grow 1
    padding-x basePadding
  &__bottom
    display flex
    flex-wrap wrap
    margin -(basePadding)
    padding-top (basePadding*4)
  &__copy
  &__link
  &__author
    padding basePadding
  &__author
    margin-left auto 
