.tabs
  parMargin()
  &__labels
    display flex
    flex-wrap wrap
    margin -(basePadding/3)
    margin-bottom 0
    border-bottom 1px solid #ccc
  &__label
    margin (basePadding/3)
    margin-bottom 0
    padding (basePadding/2) (basePadding*2)
    color #fff
    background-color #444447
    border-radius borderRadius borderRadius 0 0
    cursor pointer
    &--active
      color #fff
      background-color #b0986e
      border-bottom none
      cursor default
      @supports (text-decoration-style dashed)
        text-decoration none
        border-bottom none
  &__item
    padding-top (basePadding*2)
    &--active
      display block
    &--inactive
      display none
