.price-block
  & + h3
    margin-top 2.5rem
  h3 + &
    margin-top 1rem
  &__currencies
    display flex
    align-items baseline
    justify-content flex-end
    width 100%
    &-list
      display flex
      margin-bottom (basePadding/3*4)
  &__currency-title
    margin-left basePadding
    font-size font-xl
    color #c6bdaf
    border-bottom 1px dotted
    cursor pointer

    span
      color #b0986e
    &_current
      color #bdbec0
      border-bottom none
      cursor default

      span
        color #444447
  &__currency-table
    display none
    width 100%
    text-align center
    &:first-of-type
      display table
    td
      width calc(100% / 3)
      padding basePadding
      &:nth-of-type(3)
        background-color #eee3c7
    tr:not(:first-of-type):not(:nth-of-type(2))
      td:nth-of-type(2)
      td:nth-of-type(3)
        font-size font-l
    tr:not(:first-of-type)
      td
        border-top 1px solid #abaaaa
        border-bottom 1px solid #abaaaa
        &:first-of-type
          border-right 1px solid #abaaaa
          border-left 1px solid #abaaaa
