extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Page not found'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair'], 'current':'Page not found'})
      h1 Page not found
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            p Oops, you have switched to a non-existent page. The reason could be a mistake when typing the page address or the page no longer exists.

            p: strong Do not worry, we have selected for you the interesting pages of the site
            ul.list-links
              li: a(href='http://russian-hair.org/wholesale/manufacturing.html') As we produce products
              li: a(href='http://russian-hair.org/wholesale/wholesale.html') Cooperation offer discount up to 35% of the wholesale purchase
              li: a(href='http://russian-hair.org/wholesale/products.html') Assortment of Slavic hair
              li: a(href='http://russian-hair.org/wholesale/reviews.html') Customer stories
