extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Contact'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','Contact'], 'current':'The message has been sent'})
      h1 The message has been sent
      +pageSection
        p
          strong We will answer you within 3 hours.
          br
          | Our working hours: daily from 10 am till 9 pm (UTC +3 MSK). If you send the application during our non-working hours we will answer you the next working days.

          p
            strong If you want to contact us
            |  before getting a response please, refer to your number of application
          table.table
            tr
              td Tel., Viber, Whatsapp:
              td
                strong +7 (812) 612-49-22 
                br
                | Russian-speaking operator
            tr
              td E-mail:
              td market@russian-hair.org
            tr
              td Skype
              td russian-hair
          p Thank you for contacting us. Soon you will become our loyal customer.
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li
                a(href='/wholesale.html') Stories wholesale customers
              li
                a(href='/manufacturing.html') How we produce products
