extends /blocks/layout/layout

block head
  -
    var pageTitle = 'delivery'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','Customer service'], 'current':'How to order'})
      h1 Delivery information
      p We deliver throughout the world via shipment companies. 
      +grid({paddingy:true})
        +grid__item({m:8, xs:12})
          +pageSection  
            h2 Calculate the time and cost of delivery
            +deliveryBlock(delivery)
          +pageSection
            p Please, use the web-site of shipment company to track your order. When your order is confirmed and paid we will send you the tracking number by e-mail. How to track your order in detail.
            p
              img(src='/images/delivery.jpg' alt='')
            p When completing the order we get every hair strand into individual packaging. The package is carefully closed and sealed. You can be sure that your order will arrive safe and sound and with it you will receive our warm wishes and great quality products.
        +grid__item({m:4,xs:12})
          h3 How to find out the weight of your order?
          p When ordering for 1000$ - 20% discount, you pay 800$ 
            br
            | (about 0,6 kg of hhair in bundles, or approximately 660 pre-bonded hair strands, or about 200 tape extensions).

          p
            strong Add the weight of packaging
            |  - 300 g

          h3 Which volume of shipment to specify?
          p The average shipment volume is about 0,2&nbsp;m².

          h3 Shipment location
          p Russia. St. Petersburg 
            br
            | Postal code 197000
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li
                a(href='/service/payment/') Payment
              li
                a(href='/service/order-tracking/') Order tracking
          +grid__item({m:6,xs:12})
            include /data/form-condition-for-wholesale.pug
            +form(formConditionForWholesale).form-condition-for-wholesale
            
