extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Most frequently asked questions from our wholesale clients'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','Customer service'], 'current':'FAQ'})
      h1 FAQ
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            -
              const faq = [
                {
                  title:'What discounts can you offer?',
                  body:'When ordering for and more $1000 - you get a 20% discount (in fact you pay $800)'
                },
                {
                  title:'What countries do you send your orders to?',
                  body:'We work with international shipment companies and send orders all over the world. For your convenience we will select the most suitable shipment company for your destination.'
                },
                {
                  title:'How big is your company?',
                  body:'We have been in hair business since 2008. Every year our company shows a stable growth and becomes more recognizable for quality and availability of products. Currently we are one of the biggest hair products manufactirers in Russia. We already cooperate with numerous hair distributors in Russia and abroad selling them about 1000 kg of hair extensions per year.'
                },
                {
                  title:'Average delivery dates',
                  body:'Delivery dates depend on the country and city of destination and on the shipment company efficiency. For example the shipment to UK by Russian Post will take about 3 weeks (the transportation cost is very inexpensive) but by DHL it will take about 5 days (the cost of shipment will be significantly more expensive).'
                },
                {
                  title:'What is your MOQ?',
                  body:'If you are interested in wholesale your minimum order quantity according to our general proicelist should be for $1000. In this case you will get a discount 20% and in fact you will pay $800.'
                },
                {
                  title:'I do not need a wholesaler order, can I buy extensions for myself?',
                  body:'If you want to buy hair for yourself you can easily do it. Our managers will advise you if there are distributors of our products in your country. If there are no such distributors you can place the order with our office in Russia. Our specialists will help you to find the best matching length and color for your extensions and advise you about the delivery and payment terms and conditions.'
                },
                {
                  title:'Is the order shipment insured?',
                  body:'We ship our orders by international transportation companies. We can order insurance for your shipment upon your request. The cost of insurance will be included into the invoice in this case.'
                },
                {
                  title:'How quickly the order can be shipped?',
                  body:'If all the product items that you have included into your order are available at our warehouse we will have your order ready to be shipped within 1-2 days (depending on the order size). After we receive the payment the order is shipped immediately. Please, remember that shipment companies work only Monday to Friday. So youк order can be shipped out only on working days.'
                },
                {
                  title:'Are there color samples?',
                  body:'We have a color ring which is made of natural human hair and contains 55 shades. It is made of hair brushes of different colors attached to the metal ring. Each piece of hair can be detached for a more convenient use. Each color has its individual number. You can order a color ring from our sales manager.'
                },
              ]
            p Here we collected the most frequently asked questions from our wholesaler clients.
            +faqList(faq)
            p
              strong
                | You will not find the answer to your question?
                br
                | Send a letter with a question: 
                a(href='mailto:market@russian-hair.org') market@russian-hair.org
          +grid__item({m:4,xs:12})
            include /blocks/aside-download/aside-download
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li
                a(href='/wholesale/') How to start buying our hair at wholesaler prices?
              li
                a(href='/about/') We talk about how we work
              li
                a(href='/about/manufacturing/') Learn the process of production "from the inside"
          +grid__item({m:6,xs:12})
            include /data/form-condition-for-wholesale.pug
            +form(formConditionForWholesale).form-condition-for-wholesale
