extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Slavic hair extensions - russian-hair'
    var pageDescription = 'We offer real Slavic hair extensions wholesale. Own production in St. Petersburg since 2008.'
    var pageKeywords = 'Slavic hair extensions - russian-hair'
block content
  include /blocks/home-top/home-top
  .container
    .content.content--main
      -
        const homeCatalog = [
          {name:'Human hair in bundles', img:'/images/products/bundles.jpg', href:'/products/human-hair-in-bundles.html'},
          {name:'Pre-bonded keratin-based extensions', img:'/images/products/pre-bonded.jpg', href:'/products/pre-bonded-keratin-based-extensions.html'},
          {name:'Tape extensions', img:'/images/products/tape-extensions.jpg', href:'/products/tape-extensions.html'},
        ]
      +homeCatalog(homeCatalog) 
      +grid
        +grid__item({m:7,xs:12})
          h1.home-header Russian-hair.org (Volosy 24 Ltd.) - wholesaler of human hair for extensions
          +youtube('73bKdFOVqo8','This is a short introduction video about our company.')
          p Natural hair extensions is our passion. We are really obsessed with this business. We just love everything about it.
          p To follow and control every stage of manufacturing, constantly improve bleaching and coloring processes, use every opportunity to increase the wearing time of our extensions.
          p We love holding training and seminars for colleagues and hairdressers, constantly learn ourselves, try to find out novelties in the area of extensions and coloring technologies (even abroad).
          p We love opening new extensions studios, give advice as to the selection of tools and materials for clients, which of them will serve better and longer. We really appreciate that our clients seek our advice on decorating their extensions studios and client service.
          p We work with retail clients as well .We have hair extensions technologists working in our studio in St. Petersburg. We adore seeing how appearance of our clients completely changes within a couple of hours under the hands of our specialists. The most valuable thing in our work is a happy client who really loves long natural hair fully matching her own hair.
          p My name is 
            strong Olga Leytes. I've been a General Director of Volosy 24 Ltd, since 2008.
            |  I can speak about hair for extensions for hours. If you are also interested in this business you are welcome to our web-site where you will find answers to all your questions as to 
            a(href='') how natural human hair is selected
            | , bleached and colored, what 
            a(href='') types of extensions exist
            |  and what it means when the hair quality is confirmed by the 
            a(href='') certificate
            | .
        +grid__item({m:5,xs:12})
          include /blocks/home-wholesale/home-wholesale
          include /blocks/palette-module/palette-module
