extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Order tracking'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','Customer service'], 'current':'Warranty'})
      h1 Order tracking
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            p You can track the order through the web-site of the shipment company with which we sent your order. When finalizing the order we will let you know the name of your shipment company and unique tracking number of your shipment. Please, go to the web-site of the shipment company and find out the status of your shipment there.
            p If you do not have the tracking number, please, write us to 
              a(href='mailto:market@russian-hair.org') market@russian-hair.org
              |  from the address from which you made your order (for security reasons) and we will send you the tracking number.
            h2 Check parcel status through transport companies
            +deliveryBlock(delivery)
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li
                a(href='/service/payment/') Methods of payment order
              li
                a(href='/service/order-tracking/') Order tracking
              li
                a(href='/service/delivery/') Delivery options
          +grid__item({m:6,xs:12})
            include /data/form-condition-for-wholesale.pug
            +form(formConditionForWholesale).form-condition-for-wholesale
