extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Payment Security Information'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','Customer service'], 'current':'Payment Security Information'})
      h1 Payment Security Information
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            p Upon the order confirmation we will send you an invoice for payment. 
              br
              strong We accept rubles, USD and euros.
            p When ordering, please, specify which of these currencies are preferable for you. The payment can be made via PayPal system or by bank transfer to our bank account in Russia.
          +grid__item({m:4,xs:12})
            img(src='/images/paypal.svg' style='width: 100%')
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li
                a(href='/service/tax/') Duties and Taxes
              li
                a(href='/price/') Prices for the products
              li
                a(href='/service/order-tracking/') Order tracking
          +grid__item({m:6,xs:12})
            include /data/form-condition-for-wholesale.pug
            +form(formConditionForWholesale).form-condition-for-wholesale
            
