extends /blocks/layout/layout

block head
  -
    var pageTitle = 'price'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair'], 'current':'Price'})
      h1 Price
      +grid({paddingy:true})
        +grid__item({m:8,xs:12})
          h2 Prices for wholesale buyers
          p For wholesale buyers we have developed the discount system.
            br
            strong When buying for $1000 - 20% discount
            br
            | For your convenience please, download our pricelist for wholesalers where you can see in one document all the discount options.
          +pageSection
            h2 Hair in bundles
            +priceBlock(pricesBundle)
          +pageSection
            h2 Keratin pre-bonded hair
            +priceBlock(pricesPreBonded)
          +pageSection
            h2 Tape hair
            +priceBlock(pricesTape)
        +grid__item({m:4,xs:12})
          -
            let pricesForm = {
              title: 'Send the wholesale price of all goods to the mail',
              inputs: [{label:'E-mail', type:'email', id:'email', name:'email'}],
              submit: 'Get',
              settings:''
            }
          +form(pricesForm)
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li
                a(href='/wholesale/') How to become a wholesale buyer?
              li
                a(href='/service/tax/') Check whether you are for fee for carriage
              li
                a(href='/about/manufacturing/') As we produce products
          +grid__item({m:6,xs:12})
            include /data/form-condition-for-wholesale.pug
            +form(formConditionForWholesale).form-condition-for-wholesale
