extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Reviews'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','About us'], 'current':'Reviews'})
      h1 Reviews
      +pageSection
        +feedbackList(reviewsList)
      +pageSection
        +markedBlock('Work with us and you want to tell us about your impressions?',{sec:true})
          +grid
            +grid__item({s:6,xs:12})
              strong Write to our mail: 
                a(href='mailto:market@russian-hair.org') market@russian-hair.org
            +grid__item({s:6,xs:12})
              strong or enter a question in the 
                a(href='/contact/') feedback form
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li
                a(href='/wholesale/') How to start buying our hair at wholesaler prices?
              li
                a(href='/about/') We talk about how we work
              li
                a(href='/about/manufacturing/') Learn the process of production "from the inside"
          +grid__item({m:6,xs:12})
            include /data/form-condition-for-wholesale.pug
            +form(formConditionForWholesale).form-condition-for-wholesale
