extends /blocks/layout/layout

block head
  -
    var pageTitle = 'services'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair'], 'current':'Customer service'})
      h1 Customer service
      +pageSection
        +grid({paddingy: true})
          +grid__item({s:6,xs:12})
            h2 Choose a question
            ul.list-links
              li
                a(href='') How to order
              li
                a(href='') Delivery information
              li
                a(href='') Payment Security Information
              li
                a(href='') Product Warranty
              li
                a(href='') FAQ
              li
                a(href='') Duties and Taxes
              li
                a(href='') Order tracking
              li
                a(href='') Manufacturing
              li
                a(href='') Reviews
              li
                a(href='') Sertificates
          +grid__item({s:6,xs:12})
            p.service-description You will not find the answer to your question?
              br
              | Send a letter with a question: 
              br
              strong market@russian-hair.org
