extends /blocks/layout/layout

include /blocks/tabs/tabs

block head
  -
    var pageTitle = 'Tape extensions'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/colors
  .container
    .content.content--main
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','Product guide'], 'current':'Tape extensions'})
      h1 Tape extensions
      +pageSection
        +grid({paddingy:true}).product
          +grid__item({m:5,xs:12}).product__images
            include /blocks/product-photos/product-photos
            -
              const photos = [
                {src:'/images/products/bundles.jpg', alt:''},
                {src:'/images/products/bundles-2.jpg', alt:''},
                {src:'/images/products/bundles-3.jpg', alt:''},
              ]
            +productPhotos(photos)
          +grid__item({m:7,xs:12}).product__info
            include /blocks/product-top-panel/product-top-panel
            p Tape extensions are very popular today. This is a very easy and quick method.
            p We use natural human hair (slavic type) of high quality for making tape extensions. All the hair is carefully selected, we use only Remy type. Thanks to our careful coloring technology cuticles and hair structure are preserved which provides for a long period of use.
            p Tape extensions are packed by 10 pieces. In average, 40 tapes are enough for a full head procedure. The weight of hair in tapes is adjusted in such a way that tapes would be invisible and natural on one’s head and also would be safe for client’s own hair.
            p Adhesive tapes are made of high-quality materials absolutely safe for client’s skin and providing reliable bond.
      +pageSection#product-type
        +tabs
          +tab({ 'name': 'Russian gold' })
            h2 Russian gold
            p This donor hair we cut in our salon-shop in St.Petersburg. First, potential hair donors call us by phone asking if we can buy their hair. We usually request send us a high quality photo of donor hair and ask if the hair was previously colored or bleached. One of the strict requirements for acceptance is that the hair to be cut should be intact by dyes of any kind. Also we visually appraise the hair condition, density, etc. If everything is ok we invite the donor to come for a haircut. And again before cutting we look, touch, measure their hair before the final appraisal. Our hairdressers make a haircut agreed with the donor for free. And while cutting carefully collect the hair for further weighing and hackling. The hairs shorter than 15 cm are all taken out. So when you buy the bundle of Russian gold category hair you can be sure that this is one donor hair with unique structure, color and texture. This hair is very easily colored and bleached if need be. We can make keratin-based Tape or tape extensions out of this hair upon your request. This strict selection provides for a very long durability of Russian hair extensions, for a natural merge of the client’s own hair with extensions, soft touch and silky look for a very long period of time. Taking care of these extensions is much easier than when dealing with bleached and colored hair and no one will ever notice any difference with your own hair. When finalizing the appraisal the following parameters are taken into account: length, color, density in ends. Blond hair with high density in ends will be the most expensive (also, the longer the more expensive).
            +grid({ paddingy: true })
              +grid__item({ m: 8, xs: 12 })
                h2 Price per unit 
                  small 100 g
                +priceBlock(pricesTapeRussianGold)
          +tab({ 'name': 'Premium quality double drawn hair' })
            h2 Slavic type double drawn colored hair of premium quality
            p The most important thing one should know that this hair can be of different origin. It is selected by the hair texture and structure and only the closest to the European/Slavic type is accepted. In addition, it is important to know that this hair is mixed, i.e. each hair bundle does not correspond to one single donor hair. This hair is all mixed, bleached and colored at our factory. The ends density is super high. No hair shorter than 20 cm is included. These short hairs are all taken out during hackling. To the premium quality category we select only the super silky and soft hair which will look very natural and healthy on your head. We preserve the natural structure of donor hair, no waving and straightening is made. So when wearing these extensions the hair structure will be the same one as at the moment of purchase. Since this hair is bleached and colored, it means that with wearing, the color will start fading and you may need to restore the color of your extensions at your hairdresser’s. Also you need to take a very good care of this hair (especially of light colors) using professional shampoos, sprays and conditioners. It is very important to comb your hair properly to avoid any damage. Never comb it wet without a moisturizing conditioner applied. When washing shower your head and hair from the top when the hair lies in its natural direction.
            p It is highly recommended to use sulfate-free shampoos for washing. In average, you can use this hair up to 6-8 months under the condition of regular and correct care.
            h2 54 colors
            +colorsSlider(colors)
            +grid({ paddingy: true })
              +grid__item({ m: 8, xs: 12 })
                h2 Price per unit 
                  small package (10 tapes)
                +priceBlock(pricesTapePremium)
          +tab({ 'name': 'Lux quality double drawn hair' })
            h2 Slavic type double drawn colored hair of lux quality
            p The most important thing one should know that this hair can be of different origin. It is selected by the hair texture and structure and only the closest to the European/Slavic type is accepted. Also, it is important to know that this hair is mixed, i.e. each hair bundle does not correspond to one single donor hair. This hair is all mixed, bleached and colored at our factory. The ends density is quite high. No hair shorter than 20 cm is included. These short hairs are all taken out during hackling. To the lux quality category we select hair of various structures and textures including wavy which will look very natural on your head. We preserve the natural structure of donor hair, no waving and straightening is made. So when wearing these extensions the hair structure will be the same one as at the moment of purchase. Since this hair is bleached and colored it means that with wearing the color will start fading and you may need to restore the color of your extensions at your hairdresser’s. Also you need to take a very good care of this hair (especially of light colors) using professional shampoos, sprays and conditioners. It is very important to comb your hair properly to avoid any damage. Never comb it wet without a moisturizing conditioner applied. When washing shower your head and hair from the top when the hair lies in its natural direction. It is highly recommended to use sulfate-free shampoos for washing.
            p We recommend using hair repair masks once a week especially for light colors to preserve the silkiness and softness. In average you can use this hair up to 6-8 months under the condition of regular and correct care.
            h2 54 colors
            +colorsSlider(colors)
            +grid({ paddingy: true })
              +grid__item({ m: 8, xs: 12 })
                h2 Price per unit 
                  small package (10 tapes)
                +priceBlock(pricesTapeLux)
          +tab({ 'name': 'Single drawn hair' })
            h2 Slavic single drawn colored hair
            p The most important thing one should know that this hair can be of different origin. It is selected by the hair texture and structure and only the closest to the European/Slavic type is accepted. Also, it is important to know that this hair is mixed, i.e. each hair bundle does not correspond to one single donor hair. This hair is all mixed, bleached and colored at our factory. The ends density is of natural type. Hairs in the bundle have different lengths like on an average head. To the single drawn quality category we select hair of various structures and textures including wavy which will look very natural on your head. We preserve the natural structure of donor hair, no waving and straightening is made. So when wearing these extensions the hair structure will be the same one as at the moment of purchase. Since this hair is bleached and colored it means that with wearing the color will start fading and you may need to restore the color of your extensions at your hairdresser’s. Also you need to take a very good care of this hair (especially of light colors) using professional shampoos, sprays and conditioners. It is very important to comb your hair properly to avoid any damage. Never comb it wet without a moisturizing conditioner applied. When washing shower your head and hair from the top when the hair lies in its natural direction. We recommend to use hair repair masks once a week especially for light colors to preserve the silkiness and softness. In average you can use this hair up to 6 months under the condition of regular and correct care.
            h2 54 colors
            +colorsSlider(colors)
            +grid({ paddingy: true })
              +grid__item({ m: 8, xs: 12 })
                h2 Price per unit 
                  small package (10 tapes)
                +priceBlock(pricesTapeSingleDrawn)
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            +form(wholesaleForm).product-order-form#product-order-form
            include /blocks/wholesale-tooltip/wholesale-tooltip
          +grid__item({m:4,xs:12})
            include /blocks/product-delivery/product-delivery
          
        
