extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Warranty'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','Customer service'], 'current':'Warranty'})
      h1 Warranty
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            h2 Product quality
            p All the hair for wig making and hair extensions sold by our sales office Volosy 24 Ltd. are processed and colored at our own production in St. Petersburg, Russia. Hence, as a manufacturer, we control that everything is done in compliance with international quality standards and are responsible for quality
            p.marked-text
              strong We use only 100% human hair.
            p If all the necessary care procedures are followed our product can serve you for a long time (from 6 to 12 months) and you will always be satisfied with its quality.
            h2 Product return policy
            p According to the Russian legislation human hair and hair products are considered to be products of personal usage (hygiene) and are therefore not subject to exchange and return.
            p The list of non-food products of the proper quality was accepted and confirmed by Decree №55 of the RF Government as of 19.01.1998. Objects of personal hygiene (tooth brushes, combs, hair curlers, hairpins, wigs, hair pieces and other similar products).
          +grid__item({m:4,s:3,xs:12})
            p Expert opinion issued by the Federal Service for Supervision of Consumer Rights Protection, on products from natural hair, lining, locks for extension and wigs, manufacture and sale of which we are engaged.
            p
              img(src='/images/sertificates/1.jpg' alt='')
            p: a(href='/about/sertificates/') Look at all the quality certifications
        p
          strong Delivery guarantee
          |  &mdash; we work with reliable international 
          a(href='/service/delivery/') shipment companies
        +grid({paddingy:true})
          +grid__item({m:2,s:3,xs:6})
            img(src='/images/delivery/ups.png' alt='')
          +grid__item({m:2,s:3,xs:6})
            img(src='/images/delivery/fedex.png' alt='')
          +grid__item({m:2,s:3,xs:6})
            img(src='/images/delivery/ems.png' alt='')
          +grid__item({m:2,s:3,xs:6})
            img(src='/images/delivery/cse.png' alt='')
          +grid__item({m:2,s:3,xs:6})
            img(src='/images/delivery/dhl.png' alt='')
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li
                a(href='/contact/') Ask about the warranty on the "contacts" page
              li
                a(href='/wholesale/') Cooperation offer
              li
                a(href='/about/manufacturing/') As we produce products
          +grid__item({m:6,xs:12})
            include /data/form-condition-for-wholesale.pug
            +form(formConditionForWholesale).form-condition-for-wholesale
