extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Manufacturing'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair'], 'current':'Become a wholesale'})
      h1 Become a wholesaler
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:8,s:9,xs:12})
            p Your business and/or professional activity is related to hair extensions or wig making? Welcome to purchase from us at wholesaler prices.

            h3 Choose natural human hair for extensions
            p All the stages of production process are in compliance with international standards. Our products do not contain silicone-based products and reversed hairs. All the extensions are 100% human hair. We hold a state sanitary expert resolution for our hair products.

            h3 Buy directly from the manufacturer
            p Our prices are more flexible than those from mediators

            h3 50000 pcs of products are always available in our warehouse
            p Rich selection of shades: 54 
              br
              | Wide assortment of lengths: up to 80 cm

            h3 Wholesaler discounts 20%
            +grid
              +grid__item({m:6,xs:12})
                ul.list-marked
                  li Buying for 1000$* – 20% discount
              +grid__item({m:6,xs:12})
                p You can see all the wholesaler prices in the 
                  a(href='/price/') Prices section
          +grid__item({m:4,s:3,xs:12})
            img(src='/images/wholesale/leytes.jpg' alt='')
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:4,xs:12})
            h2 How to become a wholesaler
            h3 If you are certain about your order.
            p You can attach a file with the list of producs you want to order. For your convenience we have prepared a sample form which has a list of products, lengths, colors, etc.
            h3 If you want to find out some details about cooperation or make a trial order
            p To start with you can order a samples. Please, write all your questions about cooperation in “Comments”
            p Specify the language preferable for your for communication in “Comments”. Our manager can speak Russian, English, French. In writing we can also do it in Spanish. In any case Google translation works well:)
          +grid__item({m:8,xs:12})
            +form(wholesaleForm).product-order-form#product-order-form
            include /blocks/wholesale-tooltip/wholesale-tooltip
