.home-wholesale
  h2 Become a wholesale
  p If you have your own hair extensions studio or you are an extensions technologist, beauty products distributor, salon of wigs we can offer you to become a wholesaler of human hair for extensions.
  p Our products are used outside of Russia - in Estonia, Latvia, France, Finland, Germany, Kazakhstan, Great Britain, Check Republic, USA, UAE.
  p Try our hair extensions and your clients will love it and will continue coming back to you again and again.
  a.btn(href='') Become a wholesaler
