.home-wholesale
  padding (basePadding*3) (basePadding*2.5) (basePadding*4)
  border 10px solid
  border-image-source url('../images/border.png')
  border-image-slice 10 fill
  border-image-repeat stretch

  h2
    font-size font-xxxl
    text-align center
    color #b0986e

  .btn
    width 100%
    padding-top basePadding
    padding-bottom basePadding
    font-size font-l
