.home-top.container
  .home-top__parallax#parallax
    img(src='/template/images/home-parallax.jpg' alt='')
  .content
    .home-top__inner
      .home-top__image.hidden-s.hidden-xs
      .home-top__title 
        a(href='') Produce
        |  and 
        a(href='') sell
        | <br>human hair for extensions
