.home-top
  position relative
  overflow hidden
  margin-bottom (basePadding*3)
  &__parallax
    position absolute
    top -10.85rem
    left 0
    z-index -1
    width 100vw
    will-change transform

    img
      min-width 100%
      max-width none
  &__inner
    display flex
    flex-wrap wrap
    align-items center
    min-height 24rem + (basePadding*2)
    margin-x -(basePadding)
  &__image
    width 34rem + (basePadding*2)
    height 24rem
    background-image url('../images/home-top.webp')
    background-repeat no-repeat
    background-position center
    background-size 34rem 24rem
  &__title
    padding-x basePadding
    font-size 2.5rem
    line-height 3.5rem
