
.header-mobile-menu
  //- include /data/main-menu
  ul.header-mobile-menu__list
    each item in mainMenu
      li.header-mobile-menu__item
        .header-mobile-menu__item-body
          a(href= item.href) !{item.name}
        if item.sub
          ul.header-mobile-menu__sublist
            each i in item.sub
              li.header-mobile-menu__item
                a(href= i.href) !{i.name}
