.header-mobile-menu
  position absolute
  top 5rem
  right 0
  z-index 10
  width 100vw
  min-height calc(100vh - 5rem)
  padding-x (basePadding*2)
  padding-bottom ((basePadding*2)+(basePadding/3*4))
  background #ffffff
  border-bottom .5px solid
  visibility hidden
  opacity 0
  transition opacity .2s, transform  .2s
  transform translateY(5rem)
  &__item-body
    display flex
  &__item
    a
      display block
      flex-grow 1
      padding-top (basePadding/3*4)
      text-decoration none
  &__list 
    & > ^[-1]__item
      border-bottom .5px #f0f0f0
  &__sublist
    display none
    margin-bottom (basePadding/3*4)
    padding-left basePadding
    &--active
      display block
  &__sublist-switcher
    display flex
    align-items center
    justify-content center
    width (basePadding*4)
    &::before
      content ''
      display block
      width 1rem
      height 1rem
      border-right 2px solid
      border-bottom 2px solid
      cursor pointer
      transform rotate(45deg)
    &--active
      &::before
        border-right 2px solid
        border-bottom 2px solid
      
