mixin footerMenu(menu)
  .footer-menu(class!= attributes.class)
    .footer-menu__title !{menu.title}
    ul.footer-menu__list
      each item in menu.list
        li.footer-menu__item: a(href= item.href) !{item.name}
