.youtube-responsive
  margin-bottom 1.75rem
  &:last-child
    margin-bottom 0
  &__iframe
    position relative
    margin-bottom .5rem
    padding-bottom 56.25%
    iframe
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      border none
  &__desc
    margin-bottom 1rem
    font-style italic
    line-height 1.375rem
