header.header-main.container.hidden-s.hidden-xs
  .content
    .header-main__inner
      a.header-main__logo(href='/')
        include /blocks/logo/logo
      .header-main__center
        .header-main__lang-switch
          a(href='http://www.volosy24.ru/') rus
          span / eng
        .header-main__title wholesaler of human hair for extensions
      .header-main__right
        a(href='').btn Become a wholesale
        a(href='mailto:market@russian-hair.org') market@russian-hair.org
    include /data/main-menu
    +navigation(mainMenu).header-main__navigation
