.header-main
  &__inner
    display flex
    margin-left 5rem
    padding-top (basePadding*3)
    padding-bottom basePadding
    padding-left (basePadding*11.5)
    border-bottom 1px solid #c1bfbf
  &__logo
    position relative
    .logo
      content ''
      position absolute
      top -1.2857rem
      right 0
      display block

  &__center
    flex 1 1 auto
    padding-x(basePadding*3)
  &__lang-switch
    margin-bottom (basePadding)
    color #b0b0b0
  &__title
    font-size (font-m*1.5)
    line-height 1.25
    color #b1243f
  &__right
    display flex
    flex-direction column
    text-align center
    .btn
      margin-bottom (basePadding/2)
