.form
  padding (basePadding*2)
  background-color #dfd3b4
  &__title
    margin-bottom (font-m)
    font-size font-xl
    line-height line-m
  &__description
    p
      margin-bottom basePadding

  &__clarification
    text-align right
  &__submit
    .btn
      width 12rem
      max-width 100%
  &__elements
    &:not(:last-child)
      padding-bottom basePadding
  @media screen and (min-width point-s)
    &--oneline
      & ^[-1]__submit
        .btn
          margin-top 1.5rem
