.feedback-list
  &__item
    padding-y (basePadding*2)
    border-bottom .5px solid #cccccc
    &:last-child
      padding-bottom 0
      border-bottom none
  &__occupation
  &__location
    font-style italic
  &__body
    @extend p

    margin-top 1.5rem
    margin-bottom 0
