-
  const currencies = [
    {
      id: 'eur',
      name: 'Euro',
      sign: '€'
    },
    {
      id: 'usd',
      name: 'Dollar',
      sign: '$'
    },
  ]
  const pricesBundleLux = {
    currencies: currencies,
    unit: '100 gr',
    prices: [
      {
        lng: '40 cm<br>(16” inch)',
        rows: [['169', '135'], ['181', '145']],
      },
      {
        lng: '45 cm<br>(18” inch)',
        rows: [['177', '142'], ['189', '151']],
      },
      {
        lng: '50 cm<br>(20” inch)',
        rows: [['206', '165'], ['220', '176']],
      },
      {
        lng: '55 cm<br>(22” inch)',
        rows: [['226', '181'], ['241', '193']],
      },
      {
        lng: '60 cm (24” inch)<br>dark colors',
        rows: [['237', '190'], ['253', '202']],
      },
      {
        lng: '60 cm (24” inch)<br>light colors',
        rows: [['254', '203'], ['271', '217']],
      },
      {
        lng: '65 cm (26” inch)<br>dark colors',
        rows: [['244', '195'], ['261', '183']],
      },
      {
        lng: '65 cm (26” inch)<br>light colors',
        rows: [['260', '208'], ['278', '222']],
      },
    ]
  }

  const pricesBundlePremium = {
    currencies: currencies,
    unit: '100 gr',
    prices: [
      {
        lng: '40 cm<br>(16” inch)',
        rows: [['194', '155'], ['208', '166']]
      },
      {
        lng: '45 cm<br>(18” inch)',
        rows: [['203', '162'], ['217', '174']]
      },
      {
        lng: '50 cm<br>(20” inch)',
        rows: [['269', '215'], ['287', '230']]
      },
      {
        lng: '55 cm<br>(22” inch)',
        rows: [['312', '250'], ['334', '267']]
      },
      {
        lng: '60 cm (24” inch)<br>dark colors',
        rows: [['328', '262'], ['350', '280']]
      },
      {
        lng: '60 cm (24” inch)<br>light colors',
        rows: [['328', '262'], ['350', '280']]
      },
      {
        lng: '65 cm (26” inch)<br>dark colors',
        rows: [['356', '285'], ['380', '304']]
      },
      {
        lng: '65 cm (26” inch)<br>light colors',
        rows: [['356', '285'], ['380', '304']]
      },
    ]
  }

  const pricesBundleSingleDrawn = {
    currencies: currencies,
    unit: '100 gr',
    prices: [
      {
        lng: '40 cm<br>(16” inch)',
        rows: [['108', '105'], ['116', '113']]
      },
      {
        lng: '45 cm<br>(18” inch)',
        rows: [['122', '118'], ['131', '127']]
      },
      {
        lng: '50 cm<br>(20” inch)',
        rows: [['143', '139'], ['153', '148']]
      },
      {
        lng: '55 cm<br>(22” inch)',
        rows: [['157', '152'], ['168', '163']]
      },
      {
        lng: '60 cm (24” inch)<br>dark colors',
        rows: [['166', '161'], ['177', '172']]
      },
      {
        lng: '65 cm (26” inch)<br>dark colors',
        rows: [['169', '164'], ['181', '176']]
      },
    ]
  }

  const pricesBundleRussianGold = {
    currencies: currencies,
    unit: '100 gr',
    prices: [
      {
        lng: '40 cm (16” inch)',
        rows: [['238', '202'], ['254', '216']]
      },
      {
        lng: '45 cm (18” inch)<br>Blondes',
        rows: [ ['738','627'],['788','700'] ]
      },
      {
        lng: '45 cm (18” inch)<br>Medium brown',
        rows: [ ['524','445'],['559','475'] ]
      },
      {
        lng: '45 cm (18” inch)<br>Dark brown, black',
        rows: [ ['318','270'],['339','288'] ]
      },
      {
        lng: '50 cm (20” inch)<br>Blondes',
        rows: [ ['762','648'],['814','692'] ]
      },
      {
        lng: '50 cm (20” inch)<br>Medium brown',
        rows: [ ['603','513'],['644','547'] ]
      },
      {
        lng: '50 cm (20” inch)<br>Dark brown, black',
        rows: [ ['508','432'],['542','461'] ]
      },
      {
        lng: '55 cm (22” inch)<br>Blondes',
        rows: [ ['778','661'],['831','706'] ]
      },
      {
        lng: '55 cm (22” inch)<br>Medium brown',
        rows: [ ['635','540'],['678','576'] ]
      },
      {
        lng: '55 cm (22” inch)<br>Dark brown, black',
        rows: [ ['476','405'],['509','433'] ]
      },
      {
        lng: '60 cm (24” inch)<br>Blondes',
        rows: [ ['794','675'],['848','721'] ]
      },
      {
        lng: '60 cm (24” inch)<br>Medium brown',
        rows: [ ['714','607'],['763','649'] ]
      },
      {
        lng: '60 cm (24” inch)<br>Dark brown, black',
        rows: [ ['508','432'],['542','461'] ]
      },
      {
        lng: '65 cm (26” inch)<br>Blondes',
        rows: [ ['794','675'],['848','721'] ]
      },
      {
        lng: '65 cm (26” inch)<br>Medium brown',
        rows: [ ['714','607'],['763','649'] ]
      },
      {
        lng: '65 cm (26” inch)<br>Dark brown, black',
        rows: [ ['587','499'],['627','533'] ]
      },
    ]
  }

  const pricesPreBondedLux = {
    currencies: currencies,
    unit: '1 pcs',
    prices: [
      {
        lng: '40 cm<br>(16” inch)',
        rows: [ ['1.4','1.1'],['1.5','1.2'] ]
      },
      {
        lng: '45 cm<br>(18” inch)',
        rows: [ ['1.5','1.2'],['1.6','1.3'] ]
      },
      {
        lng: '50 cm<br>(20” inch)',
        rows: [ ['1.8','1.4'],['1.9','1.5'] ]
      },
      {
        lng: '55 cm<br>(22” inch)',
        rows: [ ['1.9','1.5'],['2','1.6'] ]
      },
      {
        lng: '60 cm (24” inch)',
        rows: [ ['2.3','1.8'],['2.5','2'] ]
      },
      {
        lng: '65 cm (26” inch)',
        rows: [ ['2.4','1.9'],['2.6','2.1'] ]
      },
    ]
  }

  const pricesPreBondedPremium = {
    currencies: currencies,
    unit: '1 pcs',
    prices: [
      {
        lng: '40 cm<br>(16” inch)',
        rows: [['1.7', '1.4'], ['1.8', '1.5']]
      },
      {
        lng: '45 cm<br>(18” inch)',
        rows: [['1.8', '1.4'], ['1.9', '1.5']]
      },
      {
        lng: '50 cm<br>(20” inch)',
        rows: [['2', '1.6'], ['2.1', '1.7']]
      },
      {
        lng: '55 cm<br>(22” inch)',
        rows: [['2.2', '1.8'], ['2.3', '1.9']]
      },
      {
        lng: '60 cm (24” inch)',
        rows: [['2.6', '2.1'], ['2.7', '2.2']]
      },
      {
        lng: '65 cm (26” inch)',
        rows: [['2.7', '2.1'], ['2.8', '2.3']]
      },
    ]
  }

  const pricesPreBondedSingleDrawn = {
    currencies: currencies,
    unit: '1 pcs',
    prices: [
      {
        lng: '40 cm<br>(16” inch)',
        rows: [['1.1', '1'], ['1.2', '1.1']]
      },
      {
        lng: '45 cm<br>(18” inch)',
        rows: [['1.2', '1.1'], ['1.3', '1.2']]
      },
      {
        lng: '50 cm<br>(20” inch)',
        rows: [['1.5', '1.4'], ['1.6', '1.5']]
      },
      {
        lng: '55 cm<br>(22” inch)',
        rows: [['1.6', '1.5'], ['1.7', '1.6']]
      },
      {
        lng: '60 cm<br>(24” inch)',
        rows: [['2', '1.9'], ['2.2', '2.1']]
      },
      {
        lng: '65 cm<br>(26” inch)',
        rows: [['2.2', '2.1'], ['2.4', '2.3']]
      },
    ]
  }
  
  const pricesPreBondedRussianGold = {
    currencies: currencies,
    unit: '100 gr',
    prices: [
      {
        lng: '40 cm (16” inch)',
        rows: [['286', '243'], ['305', '259']],
      },
      {
        lng: '45 cm (18” inch)<br>Blondes',
        rows: [['778', '661'], ['831', '706']],
      },
      {
        lng: '45 cm (18” inch)<br>Medium brown',
        rows: [['564', '479'], ['602', '512']],
      },
      {
        lng: '45 cm (18” inch)<br>Dark brown, black',
        rows: [['358', '304'], ['382', '325']],
      },
      {
        lng: '50 cm (20” inch)<br>Blondes',
        rows: [['802', '682'], ['857', '729']],
      },
      {
        lng: '50 cm (20” inch)<br>Medium brown',
        rows: [['643', '547'], ['687', '584']],
      },
      {
        lng: '50 cm (20” inch)<br>Dark brown, black',
        rows: [['548', '466'], ['585', '497']],
      },
      {
        lng: '55 cm (22” inch)<br>Blondes',
        rows: [['818', '695'], ['874', '743']],
      },
      {
        lng: '55 cm (22” inch)<br>Medium brown',
        rows: [['675', '574'], ['721', '613']],
      },
      {
        lng: '55 cm (22” inch)<br>Dark brown, black',
        rows: [['516', '439'], ['552', '469']],
      },
      {
        lng: '60 cm (24” inch)<br>Blondes',
        rows: [['834', '709'], ['891', '757']],
      },
      {
        lng: '60 cm (24” inch)<br>Medium brown',
        rows: [['754', '641'], ['806', '685']],
      },
      {
        lng: '60 cm (24” inch)<br>Dark brown, black',
        rows: [['548', '466'], ['585', '497']],
      },
      {
        lng: '65 cm (26” inch)<br>Blondes',
        rows: [['834', '709'], ['891', '757']],
      },
      {
        lng: '65 cm (26” inch)<br>Medium brown',
        rows: [['754', '641'], ['806', '685']],
      },
      {
        lng: '65 cm (26” inch)<br>Dark brown, black',
        rows: [['627', '533'], ['670', '570']],
      },
    ]
  }

  const pricesTapeLux = {
    currencies: currencies,
    unit: 'package (10 tapes)',
    prices: [
      {
        lng: '40 cm<br>(16” inch)',
        rows: [ ['50','40'],['53','42.4'] ]
      },
      {
        lng: '45 cm<br>(18” inch)',
        rows: [ ['52',''],['55','44'] ]
      },
      {
        lng: '50 cm<br>(20” inch)',
        rows: [ ['41.6','63'],['68','54.4'] ]
      },
      {
        lng: '55 cm<br>(22” inch)',
        rows: [ ['50.4','68'],['72','57.6'] ]
      },
      {
        lng: '60 cm (24” inch)<br>light colors',
        rows: [ ['54.4','70'],['74','59'] ]
      },
      {
        lng: '60 cm (24” inch)<br>dark colors',
        rows: [ ['56','72'],['77','61.6'] ]
      },
      {
        lng: '65 cm (26” inch)<br>light colors',
        rows: [ ['57.6','74'],['79','63.2'] ]
      },
      {
        lng: '65 cm (26” inch)<br>dark colors',
        rows: [ ['59.2','76'],['81','64.8'] ]
      },
    ]
  }

  const pricesTapePremium = {
    currencies: currencies,
    unit: 'package (10 tapes)',
    prices: [
      {
        lng: '40 cm<br>(16” inch)',
        rows: [['53', '42'], ['56', '45']]
      },
      {
        lng: '45 cm<br>(18” inch)',
        rows: [['55', '44'], ['58', '46']]
      },
      {
        lng: '50 cm<br>(20” inch)',
        rows: [['67', '54'], ['71', '57']]
      },
      {
        lng: '55 cm<br>(22” inch)',
        rows: [['83', '66'], ['88', '70']]
      },
      {
        lng: '60 cm (24” inch)<br>light colors',
        rows: [['94', '75'], ['100', '80']]
      },
      {
        lng: '60 cm (24” inch)<br>dark colors',
        rows: [['109', '87'], ['116', '93']]
      },
    ]
  }

  const pricesTapeSingleDrawn = {
    currencies: currencies,
    unit: 'package (10 tapes)',
    prices: [
      {
        lng: '40 cm<br>(16” inch)',
        rows: [['44', '42.7'], ['47', '45.6']]
      },
      {
        lng: '45 cm<br>(18” inch)',
        rows: [['46', '44.6'], ['49', '47.5']]
      },
      {
        lng: '50 cm<br>(20” inch)',
        rows: [['56', '54'], ['59', '57']]
      },
      {
        lng: '55 cm<br>(22” inch)',
        rows: [['59', '57'], ['63', '61']]
      },
      {
        lng: '60 cm (24” inch)<br>light colors',
        rows: [['64', '62'], ['68', '65.9']]
      },
      {
        lng: '60 cm (24” inch)<br>dark colors',
        rows: [['68', '65.9'], ['73', '70.8']]
      },
    ]
  }

  const pricesTapeRussianGold = {
    currencies: currencies,
    unit: '100 gr',
    prices: [
      {
        lng: '40 cm (16” inch)',
        rows: [['286', '243'], ['305', '259']],
      },
      {
        lng: '45 cm (18” inch)<br>Blondes',
        rows: [['786', '668'], ['839', '713']],
      },
      {
        lng: '45 cm (18” inch)<br>Medium brown',
        rows: [['572', '486'], ['610', '519']],
      },
      {
        lng: '45 cm (18” inch)<br>Dark brown, black',
        rows: [['366', '311'], ['390', '332']],
      },
      {
        lng: '50 cm (20” inch)<br>Blondes',
        rows: [['810', '689'], ['865', '735']],
      },
      {
        lng: '50 cm (20” inch)<br>Medium brown',
        rows: [['651', '553'], ['695', '591']],
      },
      {
        lng: '50 cm (20” inch)<br>Dark brown, black',
        rows: [['556', '473'], ['593', '504']],
      },
      {
        lng: '55 cm (22” inch)<br>Blondes',
        rows: [['826', '702'], ['882', '750']],
      },
      {
        lng: '55 cm (22” inch)<br>Medium brown',
        rows: [['683', '581'], ['729', '620']],
      },
      {
        lng: '55 cm (22” inch)<br>Dark brown, black',
        rows: [['524', '445'], ['560', '476']],
      },
      {
        lng: '60 cm (24” inch)<br>Blondes',
        rows: [['842', '716'], ['899', '764']],
      },
      {
        lng: '60 cm (24” inch)<br>Medium brown',
        rows: [['762', '648'], ['814', '692']],
      },
      {
        lng: '60 cm (24” inch)<br>Dark brown, black',
        rows: [['556', '473'], ['593', '504']],
      },
      {
        lng: '65 cm (26” inch)<br>Blondes',
        rows: [['842', '716'], ['899', '764']],
      },
      {
        lng: '65 cm (26” inch)<br>Medium brown',
        rows: [['762', '648'], ['814', '692']],
      },
      {
        lng: '65 cm (26” inch)<br>Dark brown, black',
        rows: [['635', '540'], ['678', '576']],
      },
    ]
  }
